@page "/nft"
<div class="container-fluid page">
    <div class="row justify-content-center">
        <div class="card shadow-lg p-4 col-7 col-sm-6">
            <div class="image-section">
                <img class="img" src="./images/NFTPreviewCard/image-equilibrium.jpg" alt="Equilibrium Image" />
                <div class="overlay"></div>
                <img class="icon" src="./images/NFTPreviewCard/icon-view.svg" />
            </div>
            <div class="text-section">
                <h5 class="card-title">
                    Equilibrium #3429
                </h5>
                <p class="card-text">
                    Our Equilibrium collection promotes balance and calm.
                </p>
            </div>
            <div class="row icon-text">
                <div class="col">
                    <span class="etherum-text">
                        <img src="./images/NFTPreviewCard/icon-ethereum.svg" />
                        0.041 ETH
                    </span>
                </div>
                <div class="col text-right">
                    <span class="clock-text">
                        <img src="./images/NFTPreviewCard/icon-clock.svg" />
                        3 days left
                    </span>
                </div>

            </div>
            <div class="row foot">
                <img class="thumbnail" src="./images/NFTPreviewCard/image-avatar.png" />
                <span class="thumbnail-text">Creation of <a href="#">Jules Wyvern</a>.</span>
            </div>
        </div>
    </div>
</div>

